/*.affix {*/
/*      top: 0;*/
/*      width: 100%;*/
/*  }*/

/*  .affix + .container-fluid {*/
/*      padding-top: 70px;*/
/*  }*/
  body {
      position: relative; 
  }
  .affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
  }
  .navbar {
      margin-bottom: 0px;
  }

  .affix ~ .container-fluid {
     position: relative;
     top: 50px;
  }

html, body{
    height:100%;
}


 html, body {
      height: 100%;
    }

    .full-w{
      width:100%;
    }
    .full-h {
      height: 100%;
    }

    .vert-center {
      display: table-cell;
      vertical-align: middle;
    }
    .section {
      padding: 60px 0;
    }

    #fs1 {
      background: linear-gradient(
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
      ), url('sky.jpg') no-repeat center;
      background-size: cover;
     
      display: table;
    
    }
    body {
      color:black;
      background-color: white;
    }

    h3 {
      font-size: 100px; 
    }
    
    /* small */
    @media only screen and (min-width: 768px) {
        h1 {
            font-size: 100px;
        }
    }
    /* medium */
    @media only screen and (min-width: 992px) {
        h1{
            font-size: 150px;
              text-align: center;
      color:white;
    font-weight: bold;
        }
    }
    /* large */
    @media only screen and (min-width: 1200px) {
        h1 {
            font-size: 200px;
        }
    }

#fixed{
    position:fixed;
    background-color: white;
    
}

.well{
    color:black;
}
h2{
    color:black;
    text-align: center;
}

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 50%;
      margin: auto;
      color:white;
  }
  h1{
    
      text-align: center;
      color:white;
    font-weight: bold;
    
  }
  ins{
      color:white;
  }
  .font{
      font-style: italic;
  }